
                    </div>
                </div> 
                <footer class="footer">
                    © 2022 Zoogler by Mannatthemes.
                </footer>

            </div>
        </div>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/popper.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/modernizr.min.js"></script>
        <script src="../assets/js/detect.js"></script>
        <script src="../assets/js/fastclick.js"></script>
        <script src="../assets/js/jquery.slimscroll.js"></script>
        <script src="../assets/js/jquery.blockUI.js"></script>
        <script src="../assets/js/waves.js"></script>
        <script src="../assets/js/jquery.scrollTo.min.js"></script>

        <!-- summernote required  -->
        <script src="../assets/plugins/summernote/summernote-bs4.min.js"></script>
        <script src="../assets/pages/form-summernote.js"></script>
        <!-- summernote required  -->

        <!-- dropify Upload required  -->
        <script src="../assets/plugins/dropify/js/dropify.min.js"></script>
        <script src="../assets/pages/dropify.init.js"></script>
        <!-- dropify Upload required  -->
        

        <!-- add more plugins  -->
        <!-- Plugins js -->
        <script src="../assets/plugins/timepicker/moment.js"></script>
        <script src="../assets/plugins/timepicker/tempusdominus-bootstrap-4.js"></script>
        <script src="../assets/plugins/timepicker/bootstrap-material-datetimepicker.js"></script>
        <script src="../assets/plugins/clockpicker/jquery-clockpicker.min.js"></script>
        <script src="../assets/plugins/colorpicker/jquery-asColor.js"></script>
        <script src="../assets/plugins/colorpicker/jquery-asGradient.js"></script>
        <script src="../assets/plugins/colorpicker/jquery-asColorPicker.min.js"></script>
        <script src="../assets/plugins/select2/select2.min.js"></script>

        <script src="../assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="../assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
        <script src="../assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

        <!-- Plugins Init js -->
        <script src="../assets/pages/form-advanced.js"></script> 
        
        <!-- App js -->
        <script src="../assets/js/app.js"></script>
        
    </body>
</html>