<%- include ('elements/header.ejs') %> 
<div class="container-fluid">

<div class="row">
  <div class="col-sm-12">
    <%- include ('elements/titlebox.ejs') %> 
  </div>
</div>

<%- include (page) %> 
</div>
<%- include ('elements/footer.ejs') %> 